{% extends "base.html" %}
{% load static %}
{% block title %}Catálogo{% endblock %}

{% block content %}
<h2 class="titulo-seccion">Catálogo</h2>

{% if edit_mode %}
  <div class="messages" style="margin-top:8px">
    <div class="msg" style="display:flex;gap:10px;align-items:center;flex-wrap:wrap">
      <strong>Modo edición activo</strong>
      <a class="btn-sec" href="{% url 'sahumerios_lista' %}">Salir de edición</a>
      <a class="btn" href="{% url 'sahumerio_nuevo' %}">+ Crear nuevo</a>
    </div>
  </div>
{% endif %}

<div class="grid grid-catalogo">
  {% for it in items %}
  <article class="card card-prod">
    <a class="imgbox" href="{% if it.origen == 'DB' %}{% url 'sahumerio_detalle' it.pk %}{% else %}{% url 'excel_detalle' it.idx %}{% endif %}">
      {% if it.img_file %}
        <img src="{% static 'img/productos/' %}{{ it.img_file }}" alt="{{ it.titulo }}" data-zoom-src="{% static 'img/productos/' %}{{ it.img_file }}">
      {% elif it.img_abs %}
        <img src="{{ it.img_abs }}" alt="{{ it.titulo }}" data-zoom-src="{{ it.img_abs }}">
      {% else %}
        <img src="{% static 'img/placeholder.png' %}" alt="Sin imagen">
      {% endif %}
    </a>

    <a class="prod-titulo" href="{% if it.origen == 'DB' %}{% url 'sahumerio_detalle' it.pk %}{% else %}{% url 'excel_detalle' it.idx %}{% endif %}">{{ it.titulo }}</a>
    {% if it.marca %}<p class="meta">Marca: {{ it.marca }}</p>{% endif %}
    {% if it.descripcion %}<p class="meta">{{ it.descripcion }}</p>{% endif %}
    {% if it.precio %}<p class="price">${{ it.precio }}</p>{% endif %}

    {% if edit_mode %}
      {% if it.origen == "DB" %}
        <div class="form-actions" style="display:flex;gap:8px;margin-top:8px">
          <a class="btn-sec" href="{% url 'sahumerio_editar' it.pk %}?volver={{ request.get_full_path|urlencode }}">Editar</a>
          <form method="post" action="{% url 'sahumerio_borrar' it.pk %}" onsubmit="return confirm('¿Borrar este sahumerio?')">
            {% csrf_token %}
            <button class="btn" style="background:#dc2626">Borrar</button>
          </form>
        </div>
      {% else %}
        <div class="form-actions" style="display:flex;gap:8px;margin-top:8px">
          <a class="btn" href="{% url 'sahumerio_nuevo' %}?sug_marca={{ it.marca|urlencode }}&sug_nombre={{ it.titulo|urlencode }}&sug_descripcion={{ it.descripcion|urlencode }}&sug_precio={{ it.precio|urlencode }}&sug_imagen_url={{ it.img_abs|urlencode }}&sug_imagen_file={{ it.img_file|urlencode }}">Crear</a>
        </div>
      {% endif %}
    {% endif %}
  </article>
  {% endfor %}
</div>
{% endblock %}
