{% extends "base.html" %}
{% block title %}Celulares{% endblock %}
{% block content %}
<h2>Celulares</h2>

<p><a class="btn" href="{% url 'celular_nuevo' %}">+ Nuevo</a></p>

<div class="grid">
  {% for c in celulares %}
    <div class="card">
      {% if c.imagen_url %}
        <div class="imgbox">
          <img src="{{ c.imagen_url }}" alt="{{ c.marca }} {{ c.modelo }}">
        </div>
      {% endif %}
      <h3>{{ c.marca }} {{ c.modelo }}</h3>
      <p class="meta">{{ c.almacenamiento_gb }} GB • {{ c.ram_gb }} GB RAM</p>
      <p class="price">$ {{ c.precio }}</p>
      <p class="stock">{% if c.disponible %}Disponible{% else %}Sin stock{% endif %}</p>
    </div>
  {% empty %}
    <p>No hay celulares cargados.</p>
  {% endfor %}
</div>
{% endblock %}
